@font-face {
    font-family: "title";
    src: url("/assets/fonts/fuente.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "title";
}

body{
    background: url("/assets/img/cubes.png");
}

a, li, ul{
    list-style: none;
    color: black;
    text-decoration: none;
}